*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body>header{
    background-color: #2f3640;
    padding: 10px 0;
    color: #fff;
    
}
header .contaneir {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;

}
header li a{
    color: #fff;
    text-decoration: none;
}

.contaneir{
    width: 1366 px;
    margin:0 auto;
}
.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
/* height: 100px;*/
width: 100%;
}
.tecnologia .Technology img {
    /* height: 100px;*/
    width: 100%;
}
.entretenimento .entertainment img {
    /* height: 100px;*/
    width: 100%;
    }

.articles article {
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2,
.articles article {
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}
.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles  article a:hover{
    text-decoration: underline;
} 
.articles article p
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h3{
    font-size: 24px;
}
section h2{
    font-size: 32px;
}

section h3 {
    font-size: 32px;
}
#sports {
    background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles a{
    background-color: #009432;
    color: black;
}
#economy {
    background-color: #f8f59f;
}
#economy .articles a{
    background-color: #ff9f1a;
}
#entertainment {
    background-color: rgb(174, 221, 205);
}
#entertainment .articles a {
    background-color: rgb(185, 152, 184);
    color: black;
}
#Technology {
    background-color: rgb(38, 70, 60);
    
}
#Technology .articles a {
    background-color: #dfbf92;
    color: #1b150d;
}